/* file chứa thuộc tính css chung */
:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primari-color: #EE4D2D;
}
*{
    box-sizing: inherit;
    /* kế thừa thẻ chứa nó */
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    /* chính giữa */
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
}
/* Animation */
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}