/* -----------------------Header---------------- */
.header{
    height: var(--header-height);
    background-image: linear-gradient(180deg, #f53e2d, #ff6533);
}

.header__navbar-list{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 4px 0 0 0 ;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-item{
    margin: 0 8px;
    font-size: 1.4rem;
    font-weight: 300;
    position: relative;
    min-height: 26px;
}
.header__navbar-item, .header__navbar-item-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;

}
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--bold{
    font-weight: 450;
}
.header__navbar-item--separate::after{
    content: "";
    /* display: block; */
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 12px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 2rem;
    margin: 0 4px;
}
.header__navbar-tittle--no-pointer{
    cursor: text;
    color: var(--white-color);
}
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

/*- -----Header QR code--- */
.header__qr{
    width: 187px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px; /* tăng độ dày cho viền của ảnh QR */
    border-radius: 2px;
    display: none;
    animation: FadeIn ease 0.8s;
}
.header__qr::before{  /* làm cầu nối khi di chuột từ item xuống QR code*/
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: 0;
    top: -15px;
;
}
.header__navbar-item--qr-appear:hover .header__qr{
    display: block;
}
.header__qr-img{
    width: 100%;  /* nằm gọn trong thẻ header_qr */
    margin-bottom: 8px;
}
.header__qr-app{
    display: flex;
    justify-content: space-between;
}

.header__qr-appstore-download{
    height: 16px;
}
.header__qr-link:nth-child(1){
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
.header__qr-gallery{
    margin-left: 10px;
    margin-top: 6px;
    
}
/* -------------Header notification--------- */
.header__notification{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: Header__noti--groth ease 0.4s;
    display: none;
}

.header__notification::before{ /*Làm dấu mũi tên tam giác*/
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -29px;
}
.header__notification::after{ /*Làm cầu nối khi di chuột xuống các thông báo*/
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -17px;
}

/* di chuột vào thông báo thì hiển thị */
.header__navbar-item--notification-appear:hover .header__notification{
    display: block;
}
@keyframes Header__noti--groth{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.header__notification--header{
    height: 40px;
    background-color: var(--white-color);

}
.header__notification--header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
    user-select: none;
}
.header__notification--list{
    padding-left: 0;
}
.header__notification-item:hover{
    background-color: #f1f1f1;
}
.header__notification-item--readed{
    background-color: rgba(238, 75, 43, 0.08);
}
.header__notification-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notification-img{
    width: 48px;
    /* height: 48px; */
    object-fit: contain;
}
.header__notification-info{
    margin-left: 12px;

}
.header__notification-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 450;
}
.header__notification-description{
    font-size: 1.2rem;
    display: block;
    color: #666;
    line-height: 1.8rem;
}
.header__notification-footer{
    display: flex;
}
.header__notification-view-all{
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 32px;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

/* -----------------Authen Modal---------------------- */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    
}
.auth-form__container{
    padding: 0 32px;

}
.auth-form__header{
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-weight: 600;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: #ff6533;
    font-weight: 500;
    cursor: pointer;
}
.auth-form__form{
    margin: 16px 4px;
}
.auth-form__group{
    margin: 0 0 12px 0;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 20px;
    padding: 0 12px;
}
.auth-form__policy-text{
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    font-weight: 500;
}
.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
    background-color: #fff;
}
.auth-form__social{
    background-color: #f5f5f5;
    padding: 18px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
.auth-form__social-icon{
    font-size: 1.8rem;
}
.auth-form__social--facebook {
    background-color: #3a5a98;
    color: var(--white-color)
}
.auth-form__social--facebook 
.auth-form__social-icon{
    color: var(--white-color);
}
.auth-form__social-tittle{
    margin: 0 36px;
}
.auth-form__social--google{
    background-color: #fff;
}
.auth-form__group--xm{
    display: flex;
}
.auth-form__btn-confirm{
    width: 75%;
}
.auth-form__btn-send{
    width: 25%;
    font-size: 15px;
    border: none;
    background-color: rgb(209, 205, 205);
}
.auth-form__btn-send:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help--separate{
    display: block;
    border-left: 1px solid #eaeaea;
    height: 15px;
    margin: 0px 16px 0;
}
.auth-form__help-focus{
    color: var(--primary-color);
}
/* Header Search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo{
    width: 200px;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

/* Header__cart */
.header__cart{
    width: 138px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    font-size: 3.2rem;
    color: #fff;
}
.header__cart-number{
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 9px;
    border: 2px solid #ee4d2d;
    top: -8px;
    right: -6px;
}
/* Header__cart--no cart */
.header__cart-list{
    position: absolute;
    top: calc(100% + 5px);
    right: 5px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 1.6rem rgba(0, 0, 0, 0.2);
    animation: FadeIn ease 0.2s;
    cursor: default;
    display: none;
}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 0px;
    top: -24px;
    border-width: 15px 19px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart--no-cart{
    padding: 24px 0;
}
.header__cart--no-cart-img{
    width: 60%;
    display: none;
}
.header__cart-list-message{
    display: none;
    /* display: block; */
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart--no-cart .header__cart--no-cart-img,
.header__cart--no-cart .header__cart-list-message{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Header__cart-list-item */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999;
    font-weight: 300;
    font-size: 1.4rem;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-item-img{
    width: 80px;
    height: 80px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-infomation{
    width: 100%;
    padding-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
}
.header__cart-item-price-info{
    font-weight: 400;
}
.header__cart-item-price{
    color: var(--primary-color);
    font-size: 1.4rem;
}
.header__cart-item-operator{
    color: #757575;
    font-size: 0.9rem;
    padding: 0 4px;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-delete{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;

}
.header__cart-item-delete:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #f05d41;
}
/* End Header__cart */

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    padding: 0 16px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history{ /* khi đặt trỏ chuột vào ô inout thì hiện lên history*/
    display: block;
}
/* Header__search-history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(143, 142, 142);
    display: none;
    overflow: hidden;
}
.header__search-heading{
    margin: 12px 12px;
    font-size: 1.4rem;
    color: #999;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
/* End Header__search-history */
.header__search-selection{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-selection-label{
    cursor: pointer;
}
.header__search-selection-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-selection-icon{
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    width: 60px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 2px;
    height: 34px;
    padding: 0 15px;
    margin-right: 4px;
}
.header__search-btn:hover{
    background-color: #f17f69;
    cursor: pointer;
}
.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.4rem;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 120%;
    list-style: none;
    width: 130px;
    box-shadow: 0 1px 2px #c0c0c0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
}
.header__search-option::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    right: 0;
    top: -20px;
}
.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    /* text-align: right; */
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color); 
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-selection:hover .header__search-option{
    display: block;
    cursor: pointer;
}